
/* selector de etiqueta */

body{
    background-color: #256976;
}

h1{
    background-color: rgb(39, 139, 143);
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
}

h3{
    background-color: chartreuse;
    font-size: 50px;
    margin-right: 500px;
}

h1,h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    color: azure;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bolder;
}

img{
    height: auto;
    width: 300px;
}

a{
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
}


/* selector de tipo clase */

.rojo {
    color: red;
}


.negro{
    color: black;
}

#especial{
    font-family: cursive;
    color: darkorange;
    font-size: 20px;
    font-weight: lighter;
}